button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px;
    width: fit-content;
    height: 40px;
    margin: 10px;
    color: black;
    border-radius: 20px;
    box-shadow: 0 3 3 3 grey;
    font-size: 14px;
    font-weight: bold;
    font-family: Lato;
    background-color: aliceblue;
}

b {
    display: flex;
    flex: 1;
}

p {
    display: flex;
    flex: 2;

}