@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

$color-primary: #C1C0BB;
$color-secondary: #707F8C;
$color-terciary: #E6D5C1;
$color-four:#4a5464;
$color-five: #728197;
$color-six: #dcdfe5;
$color-seven: #3f3f3f;
$background-color1:#f8f7f3;
$font-family: 'Josefin Sans', sans-serif;
$font-family: 'Lato', sans-serif;